In [1]:
import numpy as np
import pandas as pd
import os
import glob
from tqdm import tqdm

In [2]:
meta_data = pd.read_csv("meta_data_K-Face_High_Resolution.csv")

In [3]:
meta_data.head()

                                         file_path
0   f:/High_Resolution\19062421\S001\L1\E01\C1.jpg
1  f:/High_Resolution\19062421\S001\L1\E01\C10.jpg
2  f:/High_Resolution\19062421\S001\L1\E01\C11.jpg
3  f:/High_Resolution\19062421\S001\L1\E01\C12.jpg
4  f:/High_Resolution\19062421\S001\L1\E01\C13.jpg

In [4]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4320000 entries, 0 to 4319999
Data columns (total 1 columns):
 #   Column     Dtype
---  ------     -----
 0   file_path  object
dtypes: object(1)
memory usage: 33.0+ MB

In [5]:
drop_accessaries = ['S004' , 'S005' , 'S006']

In [6]:
def drop_acc( file_path ):
    
    for acc in drop_accessaries:
        if acc in str(file_path):
            return '미사용'
        
    return '사용'

In [7]:
meta_data['drop'] = meta_data['file_path'].apply( drop_acc )

In [8]:
meta_data.head()

                                         file_path drop
0   f:/High_Resolution\19062421\S001\L1\E01\C1.jpg   사용
1  f:/High_Resolution\19062421\S001\L1\E01\C10.jpg   사용
2  f:/High_Resolution\19062421\S001\L1\E01\C11.jpg   사용
3  f:/High_Resolution\19062421\S001\L1\E01\C12.jpg   사용
4  f:/High_Resolution\19062421\S001\L1\E01\C13.jpg   사용

In [9]:
meta_data['drop'].value_counts()

미사용    2160000
사용     2160000
Name: drop, dtype: int64

In [10]:
meta_data.drop( meta_data[meta_data['drop'] == '미사용'].index , inplace=True)

In [11]:
meta_data.reset_index(drop=True , inplace=True)

In [12]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160000 entries, 0 to 2159999
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   file_path  object
 1   drop       object
dtypes: object(2)
memory usage: 33.0+ MB

In [13]:
drop_lights = ['L1' , 'L2' , 'L3' , 'L4' , 'L8' ,'L9' ,'L12' ,'L13' ,'L22']

In [14]:
def drop_light( file_path ):
    
    for light in drop_lights:
        if light in str(file_path):
            return '사용'
        
    return '미사용'

In [15]:
meta_data['drop'] = meta_data['file_path'].apply( drop_light )

In [16]:
meta_data['drop'].value_counts()

사용     1944000
미사용     216000
Name: drop, dtype: int64

In [17]:
meta_data.drop( meta_data[meta_data['drop'] == '미사용'].index , inplace=True)

In [18]:
meta_data.reset_index(drop=True , inplace=True)

In [19]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1944000 entries, 0 to 1943999
Data columns (total 2 columns):
 #   Column     Dtype
---  ------     -----
 0   file_path  object
 1   drop       object
dtypes: object(2)
memory usage: 29.7+ MB

In [20]:
meta_data.head()

                                         file_path drop
0   f:/High_Resolution\19062421\S001\L1\E01\C1.jpg   사용
1  f:/High_Resolution\19062421\S001\L1\E01\C10.jpg   사용
2  f:/High_Resolution\19062421\S001\L1\E01\C11.jpg   사용
3  f:/High_Resolution\19062421\S001\L1\E01\C12.jpg   사용
4  f:/High_Resolution\19062421\S001\L1\E01\C13.jpg   사용

In [21]:
meta_data['drop'].value_counts()

사용    1944000
Name: drop, dtype: int64

In [22]:
drop_cam_pos = ['C4','C5','C6','C7','C8','C9','C10','C19','C20']

In [23]:
def drop_cam( file_path ):
    
    for cam in drop_cam_pos:
        if cam in str(file_path):
            return '사용'
        
    return '미사용'

In [24]:
meta_data['drop'] = meta_data['file_path'].apply( drop_cam )

In [25]:
meta_data.reset_index(drop=True , inplace=True)

In [26]:
meta_data['drop'].value_counts()

미사용    1069200
사용      874800
Name: drop, dtype: int64

In [27]:
meta_data.drop( meta_data[meta_data['drop'] == '미사용'].index , inplace=True)

In [28]:
meta_data['drop'].value_counts()

사용    874800
Name: drop, dtype: int64

In [30]:
meta_data.reset_index(drop=True , inplace=True)

In [31]:
meta_data.head()

                                         file_path drop
0  f:/High_Resolution\19062421\S001\L1\E01\C10.jpg   사용
1  f:/High_Resolution\19062421\S001\L1\E01\C19.jpg   사용
2  f:/High_Resolution\19062421\S001\L1\E01\C20.jpg   사용
3   f:/High_Resolution\19062421\S001\L1\E01\C4.jpg   사용
4   f:/High_Resolution\19062421\S001\L1\E01\C5.jpg   사용

In [32]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 874800 entries, 0 to 874799
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   file_path  874800 non-null  object
 1   drop       874800 non-null  object
dtypes: object(2)
memory usage: 13.3+ MB

In [33]:
drop_looks = ['E01','E02']

In [34]:
def drop_look( file_path ):
    
    for look in drop_looks:
        if look in str(file_path):
            return '사용'
        
    return '미사용'

In [35]:
meta_data['drop'] = meta_data['file_path'].apply( drop_look )

In [36]:
meta_data['drop'].value_counts()

사용     583200
미사용    291600
Name: drop, dtype: int64

In [37]:
meta_data.drop( meta_data[meta_data['drop'] == '미사용'].index , inplace=True)

In [38]:
meta_data.reset_index(drop=True , inplace=True)

In [39]:
meta_data.head()

                                         file_path drop
0  f:/High_Resolution\19062421\S001\L1\E01\C10.jpg   사용
1  f:/High_Resolution\19062421\S001\L1\E01\C19.jpg   사용
2  f:/High_Resolution\19062421\S001\L1\E01\C20.jpg   사용
3   f:/High_Resolution\19062421\S001\L1\E01\C4.jpg   사용
4   f:/High_Resolution\19062421\S001\L1\E01\C5.jpg   사용

In [40]:
meta_data['drop'].value_counts()

사용    583200
Name: drop, dtype: int64

In [41]:
meta_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583200 entries, 0 to 583199
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   file_path  583200 non-null  object
 1   drop       583200 non-null  object
dtypes: object(2)
memory usage: 8.9+ MB

In [43]:
meta_data.drop( 'drop', inplace=True , axis=1)

In [44]:
meta_data

                                              file_path
0       f:/High_Resolution\19062421\S001\L1\E01\C10.jpg
1       f:/High_Resolution\19062421\S001\L1\E01\C19.jpg
2       f:/High_Resolution\19062421\S001\L1\E01\C20.jpg
3        f:/High_Resolution\19062421\S001\L1\E01\C4.jpg
4        f:/High_Resolution\19062421\S001\L1\E01\C5.jpg
...                                                 ...
583195   f:/High_Resolution\19101513\S003\L9\E02\C5.jpg
583196   f:/High_Resolution\19101513\S003\L9\E02\C6.jpg
583197   f:/High_Resolution\19101513\S003\L9\E02\C7.jpg
583198   f:/High_Resolution\19101513\S003\L9\E02\C8.jpg
583199   f:/High_Resolution\19101513\S003\L9\E02\C9.jpg

[583200 rows x 1 columns]

In [64]:
def get_ID(file_path):
    ID = str(file_path)[19:27]
    return int(ID)

In [65]:
meta_data['ID'] = meta_data['file_path'].apply(get_ID)

In [66]:
meta_data.head()

                                         file_path        ID
0  f:/High_Resolution\19062421\S001\L1\E01\C10.jpg  19062421
1  f:/High_Resolution\19062421\S001\L1\E01\C19.jpg  19062421
2  f:/High_Resolution\19062421\S001\L1\E01\C20.jpg  19062421
3   f:/High_Resolution\19062421\S001\L1\E01\C4.jpg  19062421
4   f:/High_Resolution\19062421\S001\L1\E01\C5.jpg  19062421

In [47]:
additional_info = pd.read_csv("KFace_data_information_Folder1_400.csv")

In [50]:
additional_info = additional_info[['ID' , '연령대' , '성별']]
additional_info.head()

         ID  연령대 성별
0  19062421  30대  남
1  19062431  40대  남
2  19062521  50대  여
3  19062531  40대  여
4  19062542  30대  여

In [51]:
additional_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      400 non-null    int64
 1   연령대     400 non-null    object
 2   성별      400 non-null    object
dtypes: int64(1), object(2)
memory usage: 9.5+ KB

In [67]:
a = pd.merge(meta_data,
             additional_info,
             how='left',
             on='ID'
            )

In [69]:
a.tail(50)

                                              file_path        ID  연령대 성별
583150   f:/High_Resolution\19101513\S003\L4\E01\C5.jpg  19101513  20대  여
583151   f:/High_Resolution\19101513\S003\L4\E01\C6.jpg  19101513  20대  여
583152   f:/High_Resolution\19101513\S003\L4\E01\C7.jpg  19101513  20대  여
583153   f:/High_Resolution\19101513\S003\L4\E01\C8.jpg  19101513  20대  여
583154   f:/High_Resolution\19101513\S003\L4\E01\C9.jpg  19101513  20대  여
583155  f:/High_Resolution\19101513\S003\L4\E02\C10.jpg  19101513  20대  여
583156  f:/High_Resolution\19101513\S003\L4\E02\C19.jpg  19101513  20대  여
583157  f:/High_Resolution\19101513\S003\L4\E02\C20.jpg  19101513  20대  여
583158   f:/High_Resolution\19101513\S003\L4\E02\C4.jpg  19101513  20대  여
583159   f:/High_Resolution\19101513\S003\L4\E02\C5.jpg  19101513  20대  여
583160   f:/High_Resolution\19101513\S003\L4\E02\C6.jpg  19101513  20대  여
583161   f:/High_Resolution\19101513\S003\L4\E02\C7.jpg  19101513  20대  여
583162   f:/High_Resolution\19101513\S003\L4\E02\C8.jpg  19101513  20대  여
583163   f:/High_Resolution\19101513\S003\L4\E02\C9.jpg  19101513  20대  여
583164  f:/High_Resolution\19101513\S003\L8\E01\C10.jpg  19101513  20대  여
583165  f:/High_Resolution\19101513\S003\L8\E01\C19.jpg  19101513  20대  여
583166  f:/High_Resolution\19101513\S003\L8\E01\C20.jpg  19101513  20대  여
583167   f:/High_Resolution\19101513\S003\L8\E01\C4.jpg  19101513  20대  여
583168   f:/High_Resolution\19101513\S003\L8\E01\C5.jpg  19101513  20대  여
583169   f:/High_Resolution\19101513\S003\L8\E01\C6.jpg  19101513  20대  여
583170   f:/High_Resolution\19101513\S003\L8\E01\C7.jpg  19101513  20대  여
583171   f:/High_Resolution\19101513\S003\L8\E01\C8.jpg  19101513  20대  여
583172   f:/High_Resolution\19101513\S003\L8\E01\C9.jpg  19101513  20대  여
583173  f:/High_Resolution\19101513\S003\L8\E02\C10.jpg  19101513  20대  여
583174  f:/High_Resolution\19101513\S003\L8\E02\C19.jpg  19101513  20대  여
583175  f:/High_Resolution\19101513\S003\L8\E02\C20.jpg  19101513  20대  여
583176   f:/High_Resolution\19101513\S003\L8\E02\C4.jpg  19101513  20대  여
583177   f:/High_Resolution\19101513\S003\L8\E02\C5.jpg  19101513  20대  여
583178   f:/High_Resolution\19101513\S003\L8\E02\C6.jpg  19101513  20대  여
583179   f:/High_Resolution\19101513\S003\L8\E02\C7.jpg  19101513  20대  여
583180   f:/High_Resolution\19101513\S003\L8\E02\C8.jpg  19101513  20대  여
583181   f:/High_Resolution\19101513\S003\L8\E02\C9.jpg  19101513  20대  여
583182  f:/High_Resolution\19101513\S003\L9\E01\C10.jpg  19101513  20대  여
583183  f:/High_Resolution\19101513\S003\L9\E01\C19.jpg  19101513  20대  여
583184  f:/High_Resolution\19101513\S003\L9\E01\C20.jpg  19101513  20대  여
583185   f:/High_Resolution\19101513\S003\L9\E01\C4.jpg  19101513  20대  여
583186   f:/High_Resolution\19101513\S003\L9\E01\C5.jpg  19101513  20대  여
583187   f:/High_Resolution\19101513\S003\L9\E01\C6.jpg  19101513  20대  여
583188   f:/High_Resolution\19101513\S003\L9\E01\C7.jpg  19101513  20대  여
583189   f:/High_Resolution\19101513\S003\L9\E01\C8.jpg  19101513  20대  여
583190   f:/High_Resolution\19101513\S003\L9\E01\C9.jpg  19101513  20대  여
583191  f:/High_Resolution\19101513\S003\L9\E02\C10.jpg  19101513  20대  여
583192  f:/High_Resolution\19101513\S003\L9\E02\C19.jpg  19101513  20대  여
583193  f:/High_Resolution\19101513\S003\L9\E02\C20.jpg  19101513  20대  여
583194   f:/High_Resolution\19101513\S003\L9\E02\C4.jpg  19101513  20대  여
583195   f:/High_Resolution\19101513\S003\L9\E02\C5.jpg  19101513  20대  여
583196   f:/High_Resolution\19101513\S003\L9\E02\C6.jpg  19101513  20대  여
583197   f:/High_Resolution\19101513\S003\L9\E02\C7.jpg  19101513  20대  여
583198   f:/High_Resolution\19101513\S003\L9\E02\C8.jpg  19101513  20대  여
583199   f:/High_Resolution\19101513\S003\L9\E02\C9.jpg  19101513  20대  여

In [71]:
a.to_csv('meta_data_for_train_K-Face.csv' , index=False)

In [74]:
a['성별'].value_counts()

남    312012
여    271188
Name: 성별, dtype: int64

In [75]:
a['연령대'].value_counts()

30대    208494
40대    207036
50대    148716
20대     18954
Name: 연령대, dtype: int64