In [32]:
import os
import numpy as np
import pandas as pd
import glob
from tqdm import tqdm

In [26]:
path = "Dataset\\AFAD-Full\\**"

file_list = glob.glob(path , recursive=True)
file_path = [file for file in file_list if file.endswith(".jpg")]

In [27]:
len( file_path )

165501

In [28]:
file_path[:5]

['Dataset\\AFAD-Full\\15\\111\\109008-0.jpg',
 'Dataset\\AFAD-Full\\15\\111\\114557-0.jpg',
 'Dataset\\AFAD-Full\\15\\111\\116002-0.jpg',
 'Dataset\\AFAD-Full\\15\\111\\116080-1.jpg',
 'Dataset\\AFAD-Full\\15\\111\\116596-2.jpg']

In [53]:
age_list = []
gender_list = []

for path in tqdm( file_path ):
    age_list.append( int(path.split("\\")[2]) )
    
    if path.split("\\")[3] == '111':
        gender_list.append( "male" )
    elif path.split("\\")[3] == '112':
        gender_list.append( "female" )
    else:
        gender_list.append( "none" )

100%|██████████████████████████████████████████████████████████████████████| 165501/165501 [00:00<00:00, 671848.09it/s]

In [59]:
meta_data = pd.DataFrame( list(zip(file_path , age_list , gender_list)) , columns=["file_path" , "age" , "gender"] )
meta_data

                                    file_path  age  gender
0       Dataset\AFAD-Full\15\111\109008-0.jpg   15    male
1       Dataset\AFAD-Full\15\111\114557-0.jpg   15    male
2       Dataset\AFAD-Full\15\111\116002-0.jpg   15    male
3       Dataset\AFAD-Full\15\111\116080-1.jpg   15    male
4       Dataset\AFAD-Full\15\111\116596-2.jpg   15    male
...                                       ...  ...     ...
165496  Dataset\AFAD-Full\72\112\858968-0.jpg   72  female
165497  Dataset\AFAD-Full\72\112\858968-1.jpg   72  female
165498  Dataset\AFAD-Full\72\112\858971-0.jpg   72  female
165499  Dataset\AFAD-Full\72\112\858971-1.jpg   72  female
165500  Dataset\AFAD-Full\72\112\858972-0.jpg   72  female

[165501 rows x 3 columns]

In [61]:
meta_data['age'].value_counts(dropna=False)

22    13572
20    13232
24    12891
21    12560
19    12477
25    11261
23    10510
26     7676
27     6481
18     5585
28     5170
30     4806
29     4730
31     4456
35     4246
36     4234
32     3996
37     3898
34     3856
38     3798
39     3791
33     3701
17     2482
16     2423
40     1335
15     1251
42      146
43      118
41      114
44       94
45       65
46       59
47       49
48       48
53       40
72       35
51       30
49       30
50       28
54       27
62       25
52       23
56       16
66       16
69       15
55       12
58       12
57       11
67       10
65        9
63        8
64        8
61        8
68        7
59        7
70        7
60        6
Name: age, dtype: int64

In [62]:
meta_data['gender'].value_counts(dropna=False)

male      101519
female     63982
Name: gender, dtype: int64

In [63]:
meta_data.to_csv("meta_data_AFAD_dataset.csv" , index=False)