In [2]:
import os
import shutil
import pandas as pd
from tqdm import tqdm

In [3]:
data = pd.read_csv("meta_data_AFAD_dataset.csv")
data.head()

                               file_path  age gender
0  Dataset\AFAD-Full\15\111\109008-0.jpg   15   male
1  Dataset\AFAD-Full\15\111\114557-0.jpg   15   male
2  Dataset\AFAD-Full\15\111\116002-0.jpg   15   male
3  Dataset\AFAD-Full\15\111\116080-1.jpg   15   male
4  Dataset\AFAD-Full\15\111\116596-2.jpg   15   male

In [4]:
path = data['file_path'].tolist()
gender = data['gender'].tolist()

In [6]:
for idx,p in enumerate(path):
#for idx,p in tqdm(enumerate(path[:50])):
    
    if gender[idx] == 'female':
        shutil.copy( p , os.path.join("Dataset\AFAD-Full\Generator" , "female") )
    else:
        shutil.copy( p , os.path.join("Dataset\AFAD-Full\Generator" , "male") )